.grid-container {
    display: grid;
    grid-template-columns:150px 100px 100px;
    width: 100%;
    grid-gap: 0px;
    padding: 0px 0px 0px 0px;
    margin-left: 10px;
  

  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;

}
.q{
  background-color: #26a69a;
}

.grid-container > div:hover {
  overflow: visible;
}
