.form-group{
    
    margin: 50px 50px 5px 50px;

}
.form{
    
    margin: 10px 100px 0px 0px;

}
.page2card{
    height: 250px !important;
}

.gotobtn{
    margin: 50px 0px 10px -20px!important;
}
.gotobtn2{
    margin: 40px 150px !important;
}
.backbtn{
    margin: 50px 650px;
}
.aa{
    font-size: 20px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form{
    margin: 10px 120px 0px 0px;
}
.card-content{
    align-self: center;
    width: 100%;
    padding: 0px 30px 0px 30px;
}